<div class="profile-page">
    <div class="wrapper">
        <div class="page-header page-header-small" filter-color="orange">
            <div class="page-header-image" data-parallax="true"
                style="background-image: url('assets/images/intro.jpg');">
            </div>
            <div class="container">
                <div class="content-center">
                    <div class="profile-image">
                        <a href="#">
                            <img src="assets/images/495-Tag1-F95I0496.jpg" alt="Image" />
                        </a>
                    </div>
                    <div class="h2 title">Rohit Kalva </div>
                    <a class="btn btn-primary smooth-scroll mr-2"
                        href="https://drive.google.com/file/d/10vw0pjZQt7A6G9vyBIASRTOYMt1YHn6N/view" target="_blank"
                        data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
                    <a class="btn btn-primary" href="#contact" data-aos="zoom-in"
                        data-aos-anchor="data-aos-anchor">Contact me</a>
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <div class="button-container">
                        <a class="btn btn-default btn-round btn-lg btn-icon"
                            href="https://www.linkedin.com/in/rohit-kalva-43899ba6/" target="_blank" rel="tooltip"
                            title="Follow me on Linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a class="btn btn-default btn-round btn-lg btn-icon"
                            href="https://www.xing.com/profile/Rohit_Kalva/" target="_blank" rel="tooltip"
                            title="Follow me on Xing">
                            <i class="fa fa-xing"></i>
                        </a>
                        <a class="btn btn-default btn-round btn-lg btn-icon" href="https://github.com/rohitkalva"
                            target="_blank" rel="tooltip" title="Follow me on Github">
                            <i class="fa fa-github"></i>
                        </a>
                        <a class="btn btn-default btn-round btn-lg btn-icon" href="https://twitter.com/krohit94"
                            target="_blank" rel="tooltip" title="Follow me on Twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>