<div class="section" id="experience">
    <div class="container py-2 cc-experience">
        <div class="h4 text-center mb-4 title">Work Experience</div>
                <div class="row">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge up bg-green">
                                <i class="fa fa-thumbs-up"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-7 ">
                                        <div class="h5 mt-0 title">Otto-von-Guericke Universität, Magdeburg</div>
                                        <div class="h6 mt-0 title">Master Thesis (Nov 2019 - Nov 2020)</div>
                                        <p align="justify">The goal of this thesis was to identify different alternatives of SAP products using similarity measures like cosine similarity and word embeddings with help of data collected from the internet.</p>
                                    </div>
                                    <div class="col-lg-5">
                                        <li><b>Technologies and libraries:</b></li>
                                        <ul>
                                            <li>Python complete app development.</li>
                                            <li>BeautifulSoup (bs4) for web-scrapping.</li>
                                            <li>scikit-learn for similarity algorithms.</li>
                                            <li>MySQL for storing data.</li>
                                            <li>Flask for API creation.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>   
                        <li>
                            <div class="timeline-badge down">
                                <i class="fa fa-bars"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-7 ">
                                        <div class="h5 mt-0 title">Otto-von-Guericke Universität, Magdeburg</div>
                                        <div class="h6 mt-0 title">Software Architect (Oct 2018 - Jun 2019)</div>
                                        <p><b>Innovative Tracking of Radiological Protective Equipment</b></p>
                                        <p align="justify">A student team project to assist the radiology department at University Klinikum,
                                            Magdeburg in upgrading the manual input process by automating with help of a
                                            hand-held reader according to rule "DIN 6857-2".</p>
                                    </div>
                                    <div class="col-lg-5">
                                        <li><b>Technologies and libraries:</b></li>
                                        <ul>
                                            <li>React-JS for web dashboard.</li>
                                            <li>Node-JS for backend server and API maintenance.</li>
                                            <li>MySQL for storing relevant data.</li>
                                        </ul>
                                    </div>    
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge down">
                                <i class="fa fa-bars"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-7 ">
                                        <div class="h5 mt-0 title">Otto-von-Guericke Universität, Magdeburg</div>
                                        <div class="h6 mt-0 title">Front-End Developer (Oct 2017 - May 2018)</div>
                                        <p><b>Relational Visualization</b></p>
                                        <p align="justify">A student team project built for biological researchers to visualize metaproteomics
                                            data through different visualizations. Visualizations included Heatmap, chord diagram, tree chart, bar and pie charts and were interactive in providing proper analysis for the researchers.</p>
                                    </div>
                                    <div class="col-lg-5">
                                        <li><b>Technologies and libraries:</b></li>
                                        <ul>
                                            <li>React-JS for web dashboard.</li>
                                            <li>D3.Js for visualization charts.</li>
                                            <li>Java for backend server and API maintenance.</li>
                                            <li>Neo4J for storing biological data.</li>
                                            <li>Jira for tracking issues.</li>
                                        </ul>
                                    </div>    
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge down">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="row">
                                    <div class="col-lg-7 ">
                                        <div class="h5 mt-0 title">Amazon Development Centre India Pvt Ltd, Hyderabad, India</div>
                                        <div class="h6 mt-0 title">Team Leader (Customer Service) (Aug 2015 - Mar 2017)</div>
                                        <p align="justify">Lead a team of 20 colleagues in the escalation team of the customer service
                                            department. The main tasks included monitoring team availability, team
                                            performance and service quality. Providing daily feedback to team colleagues on
                                            their performance case to case basis.</p>
                                    </div> 
                                    <div class="col-lg-5">
                                        <li><b>Technologies and Applications:</b></li>
                                        <ul>
                                            <li>SQL scripting for retreiving daily dump of handled contacts.</li>
                                            <li>VBA for Microsoft Excel.</li>
                                        </ul>
                                    </div>   
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
    </div>
</div>
        