<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>Apr 2017 - Nov 2020</p>
                        <div class="h5">Master's Degree</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">Master of Science</div>
                        <h4 class="category">Otto-von-Guericke-Universität, Magdeburg</h4>
                        <ul>
                            <li>Master's in Digital Engineering from the faculty of Informatik.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>Aug 2011 - Jun 2015</p>
                        <div class="h5">Bachelor's Degree</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h4">Bachelor of Technology</div>
                        <h4 class="category">Geethanjali College of Engineering and Technology, Hyderabad, India</h4>
                        <ul>
                            <li>Bachelor's degree from faculty of Mechanical Engineering.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>